# VLC media player VLM command batch
# http://www.videolan.org/vlc/

# Achtung: für reine Mjpeg-files ohne Container muss die vlc-Option: --demux=avformat angegeben werden
# Abspielrate:  --mjpeg-fps=10  

# https://github.com/waveform80/picamera/issues/335

# https://wiki.videolan.org/Documentation:Streaming_HowTo/VLM/
#
new videos/htw.mjpeg vod enabled
setup videos/htw.mjpeg input "videos/htw.mjpeg"

# new myvid1 vod enabled
# setup myvid1 input "htw.mjpeg"